# IDE
/.idea/

# npm
node_modules

# test dir
/reports-cover/

# test dir
/www/

# example
# /* eslint-disable no-unused-vars */
# var React = require('react');
# /* eslint-enable no-unused-vars */
# var React = require('react'); // eslint-disable-line no-unused-vars
